In [2]:
NAUTISK_MIL_I_KM = 1.852#Km
kilometer = float(input("skriv inn en distanse i Km: "))
KmTilNautiske = kilometer / NAUTISK_MIL_I_KM
print("Lengden fra kilometer er " + str(KmTilNautiske) + " Nautiske mil")

skriv inn en distanse i Km:  1.852

Lengden fra kilometer er 1.0 Nautiske mil

In [ ]:
# import math
def hypotenusTilKatetEnhet(hypotenus):
    return math.sqrt(hypotenus*hypotenus / 337) 

diagonal = float(input("Skriv inn diagonal som Tommer: "))
A = hypotenusTilKatetEnhet(diagonal)
lengde = 16*A
hoyde = 9*A

print("Høyden er "+str(hoyde)+" Tommer")
print("Lengden er "+str(lengde)+" Tommer")

In [6]:
import math
TOMME = 2.54#Cm

def hypotenusTilKatetEnhet(hypotenus):
    hypotenusCm = hypotenus*TOMME
    return math.sqrt(hypotenusCm*hypotenusCm / 337) 

diagonal = float(input("Skriv inn diagonal som Tommer: "))
A = hypotenusTilKatetEnhet(diagonal)
lengde = 16*A
hoyde = 9*A

print("Høyden er "+str(hoyde)+"Cm")
print("Lengden er "+str(lengde)+"Cm")

Skriv inn diagonal som Tommer:  20

Høyden er 24.905270973333995Cm
Lengden er 44.2760372859271Cm

In [14]:
import math
TOMME = 2.54#Cm

def hypotenusTilKatetEnhet(x1, x2, hypotenus):
    hypotenusCm = hypotenus*TOMME
    return math.sqrt(hypotenusCm*hypotenusCm / (x1**2 + x2**2)) 

f1 = float(input("skriv inn det første tallet av forholdet"))

f2 = float(input("skriv inn det andre tallet av forholdet"))

diagonal = float(input("Skriv inn diagonal som Tommer: "))
A = hypotenusTilKatetEnhet(f1,f2,diagonal)
lengde = f1*A
hoyde = f2*A

print("Høyden er "+str(hoyde)+"Cm")
print("Lengden er "+str(lengde)+"Cm")

skriv inn det første tallet av forholdet 16
skriv inn det andre tallet av forholdet 9
Skriv inn diagonal som Tommer:  20

Høyden er 24.905270973333995Cm
Lengden er 44.2760372859271Cm